<%- include('partials/header.ejs') %>
<body>
<div class="container-sm">
    <div class="row mr-5 ml-5">
        <div class="col-md-7">
            <h1>LIST STUDENTS</h1>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">name</th>
                    <th scope="col">email</th>
                    <th scope="col">age</th>
                    <th scope="col">dob</th>
                    <th scope="col">action</th>
                </tr>
                </thead>
                <tbody>
                <% if (dataStudent.length === 0) { %>
                    <tr>
                        <td colspan="6">No data</td>
                    </tr>
                <% } %>
                <% dataStudent.forEach((student) => { %>
                    <tr>
                        <th scope="row"><%= student.id %></th>
                        <td><%= student.name %></td>
                        <td><%= student.email %></td>
                        <td><%= student.age %></td>
                        <td><%= student.dob %></td>
                        <td>
                            <a class="btn btn-warning btn-sm"
                               onclick="openEditModal('<%= student.id %>', '<%= student.name %>', '<%= student.email %>', <%= student.age %>, '<%= student.dob %>')">edit</a>
                            <a href="#" class="btn btn-danger btn-sm"
                               onclick="deleteStudent('<%= student.id %>')">delete</a>
                        </td>
                    </tr>
                <% }) %>
                %>
                </tbody>
            </table>
        </div>
        <div class="col-md-5">
            <div class="container">
                <h1>CREATE STUDENT</h1>
                <div class="form-group">
                    <label>Name</label>
                    <input type="name" name="name" class="form-control" placeholder="Enter name">
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" name="email" class="form-control" placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label>Age</label>
                    <input type="number" name="age" class="form-control" placeholder="18">
                </div>
                <div class="form-group">
                    <label>Dob</label>
                    <input type="date" name="dob" class="form-control" placeholder="18">
                </div>
                <div class="d-flex justify-content-end">
                    <button type="submit" value="submit" onclick="createStudent()" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editModalLabel">Edit Student</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="editForm">
                            <input type="hidden" id="editStudentId" name="studentId">
                            <div class="form-group">
                                <label for="editName">Name</label>
                                <input type="text" class="form-control" id="editName" name="name">
                            </div>
                            <div class="form-group">
                                <label for="editEmail">Email</label>
                                <input type="email" class="form-control" id="editEmail" name="email">
                            </div>
                            <div class="form-group">
                                <label for="editAge">Age</label>
                                <input type="number" class="form-control" id="editAge" name="age">
                            </div>
                            <div class="form-group">
                                <label for="editDob">Date of Birth</label>
                                <input type="date" class="form-control" id="editDob" name="dob">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" onclick="saveChanges()">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    async function createStudent() {
        const name = document.querySelector('input[name="name"]').value;
        const email = document.querySelector('input[name="email"]').value;
        const age = document.querySelector('input[name="age"]').value;
        const dob = document.querySelector('input[name="dob"]').value;
        const student = {
            name: name,
            email: email,
            age: age,
            dob: dob
        };
        try {
            const response = await fetch('/api/students/create', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(student)
            });
            if (response.ok) {
                console.log('Create student successfully');
                window.location.reload();
            }
            console.error("Failed to create student");
        } catch (error) {
            console.error('Error:', error);
        }
    }

    function openEditModal(studentId, name, email, age, dob) {
        $('#editStudentId').val(studentId);
        $('#editName').val(name);
        $('#editEmail').val(email);
        $('#editAge').val(age);
        const date = new Date(dob.replace(/(\d{2})\/(\d{2})\/(\d{4})/, '$2/$1/$3 12:00 PM'));
        const dateFormat = date.toISOString().substring(0, 10);
        $('#editDob').val(dateFormat);

        $('#editModal').modal('show');
    }

    async function saveChanges() {
        const studentId = $('#editStudentId').val();
        const name = $('#editName').val();
        const email = $('#editEmail').val();
        const age = $('#editAge').val();
        const dob = $('#editDob').val();
        const student = {
            name: name,
            email: email,
            age: age,
            dob: dob
        };
        $('#editModal').modal('hide');
        try {
            const response = await fetch(`/api/students/update/${studentId}`, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(student)
            });
            if (response.ok) {
                console.log('Update student successfully');
                window.location.reload();
            }
            console.error("Failed to update student");
        } catch (error) {
            console.error('Error:', error);
        }
    }

    async function deleteStudent(studentId) {
        const confirmed = window.confirm(`Are you sure you want to delete this student id ${studentId}?`);
        if (!confirmed) {
            return;
        }
        try {
            const response = await fetch(`/api/students/delete/${studentId}`, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json'
                },
            });
            if (response.ok) {
                console.log('Delete student successfully');
                window.location.reload();
            }
            console.error("Failed to delete student");
        } catch (error) {
            console.error('Error:', error);
        }
    }
</script>
</body>
<%- include('partials/footer.ejs') %>
